Hi everyone,

Attached you have a dropbox link with the option data. A few things to note:
- You only have end of month date
- Option returns are delta hedged ONLY ONCE not on a daily basis. I went for this approach as it was easier to code so you will have the data faster.
- Only options which have prices at the next end of month are considered, again I did this because it was faster to code but it will probably not inhibit your results too much. 
- I have pre cleaned the option data for you. See for example Goyal (2009) for more details

For now the data seems super small (700mb) so I send you the whole data.

Best,
Patrick

In [1]:
# enable auto complete
%config Completer.use_jedi = False

In [2]:
from collections import *

In [3]:
import pandas as pd

In [4]:
import datetime

In [5]:
pd.set_option('display.max_columns', 100)

# Data Exploration

In [7]:
sp500_op_ret = pd.read_csv("data/sp500_op_ret.csv")

In [8]:
mapping_table = pd.read_csv("data/mapping_table.csv")

In [9]:
sp500_const_list = pd.read_csv("data/sp500_const_list.csv")

## mapping_table and sp500_const_list

In [10]:
# PERMNO is a unique stock (share class) level 
# identifier used by WRDS
mapping_table.sample(5)

        secid                sdate                edate  permno
22885  205127  2014-08-27 00:00:00  2020-12-31 00:00:00   14845
13746  113188  2001-11-20 00:00:00  2012-02-22 00:00:00   89208
22228  190028  2014-01-09 00:00:00  2020-12-31 00:00:00   14412
18832  140393  2010-01-14 00:00:00  2020-12-31 00:00:00   93221
21404  161471  2013-02-15 00:00:00  2020-12-31 00:00:00   13779

In [12]:
mapping_table.shape

(28276, 4)

In [14]:
len(set(mapping_table['permno']))

22368

In [19]:
mapping_table[mapping_table["secid"]==5007]

   secid                sdate                edate  permno
5   5007  2001-04-09 00:00:00  2002-08-01 00:00:00   19692
6   5007  2012-04-12 00:00:00  2016-08-17 00:00:00   13343

In [18]:
Counter(mapping_table["secid"])

Counter({5001: 1,
         5002: 1,
         5004: 1,
         5005: 1,
         5006: 1,
         5007: 2,
         5008: 1,
         5009: 1,
         5010: 1,
         5012: 1,
         5014: 1,
         5015: 1,
         5016: 1,
         5017: 1,
         5019: 1,
         5021: 1,
         5022: 1,
         5023: 1,
         5024: 2,
         5025: 1,
         5027: 1,
         5028: 1,
         5029: 1,
         5030: 1,
         5031: 1,
         5033: 1,
         5034: 1,
         5035: 1,
         5036: 1,
         5037: 1,
         5038: 1,
         5040: 1,
         5041: 1,
         5042: 1,
         5043: 1,
         5044: 1,
         5045: 1,
         5046: 1,
         5047: 2,
         5048: 1,
         5049: 1,
         5051: 1,
         5052: 1,
         5053: 1,
         5056: 1,
         5057: 1,
         5058: 1,
         5059: 1,
         5060: 1,
         5061: 1,
         5064: 1,
         5065: 1,
         5066: 1,
         5067: 1,
         5068: 1,
         5069: 1,
         5070: 1,
         5071: 1,
         5074: 1,
         5075: 1,
         5076: 1,
         5077: 1,
         5078: 1,
         5079: 1,
         5080: 1,
         5081: 1,
         5082: 1,
         5083: 1,
         5085: 1,
         5086: 1,
         5087: 1,
         5088: 1,
         5089: 1,
         5090: 1,
         5091: 1,
         5092: 1,
         5094: 1,
         5097: 1,
         5098: 1,
         5099: 1,
         5100: 1,
         5101: 1,
         5102: 1,
         5105: 1,
         5107: 1,
         5110: 1,
         5111: 1,
         5113: 1,
         5115: 1,
         5116: 1,
         5118: 1,
         5119: 1,
         5120: 1,
         5121: 1,
         5122: 1,
         5126: 1,
         5127: 1,
         5129: 1,
         5131: 3,
         5132: 1,
         5133: 1,
         5135: 1,
         5137: 1,
         5138: 1,
         5139: 2,
         5140: 1,
         5141: 1,
         5142: 1,
         5146: 1,
         5147: 1,
         5149: 1,
         5150: 1,
         5151: 1,
         5152: 1,
         5157: 2,
         5158: 1,
         5160: 1,
         5161: 1,
         5162: 1,
         5163: 1,
         5166: 1,
         5168: 1,
         5169: 1,
         5170: 1,
         5171: 1,
         5172: 1,
         5174: 1,
         5176: 1,
         5177: 1,
         5178: 1,
         5179: 1,
         5180: 1,
         5182: 1,
         5183: 1,
         5184: 2,
         5189: 1,
         5190: 1,
         5191: 1,
         5193: 1,
         5194: 1,
         5195: 1,
         5196: 1,
         5197: 1,
         5198: 1,
         5199: 1,
         5200: 1,
         5203: 1,
         5204: 1,
         5205: 1,
         5206: 1,
         5207: 1,
         5208: 1,
         5211: 1,
         5212: 1,
         5214: 1,
         5217: 1,
         5218: 1,
         5220: 1,
         5221: 1,
         5222: 1,
         5224: 1,
         5227: 2,
         5228: 1,
         5230: 1,
         5231: 1,
         5232: 1,
         5234: 1,
         5235: 1,
         5237: 1,
         5238: 1,
         5240: 1,
         5242: 1,
         5243: 1,
         5244: 1,
         5245: 1,
         5247: 1,
         5248: 1,
         5249: 1,
         5250: 1,
         5251: 1,
         5252: 1,
         5253: 1,
         5254: 1,
         5255: 1,
         5257: 1,
         5258: 1,
         5259: 1,
         5260: 1,
         5261: 1,
         5263: 2,
         5264: 1,
         5265: 1,
         5266: 1,
         5267: 2,
         5268: 1,
         5269: 1,
         5270: 1,
         5271: 1,
         5272: 1,
         5273: 1,
         5274: 1,
         5276: 1,
         5277: 1,
         5278: 1,
         5279: 1,
         5281: 1,
         5283: 1,
         5284: 1,
         5286: 1,
         5287: 1,
         5288: 1,
         5289: 1,
         5290: 1,
         5292: 1,
         5295: 1,
         5296: 1,
         5297: 1,
         5302: 1,
         5304: 1,
         5305: 1,
         5306: 1,
         5308: 1,
         5309: 1,
         5310: 1,
         5311: 1,
         5312: 1,
         5313: 1,
         5315: 1,
         5316: 1,
         5317: 1,
         5318: 1,
         5319: 1,
         5320: 1,
         5321: 1,
         5322: 1,
         5324: 1,
         5325: 1,
         5327: 1,
         5328: 1,
         5329: 1,
         5330: 1,
         5331: 1,
         5332: 1,
         5333: 1,
         5334: 1,
         5335: 1,
         5336: 1,
         5337: 1,
         5338: 1,
         5339: 1,
         5340: 1,
         5341: 1,
         5342: 1,
         5343: 1,
         5345: 1,
         5346: 1,
         5347: 1,
         5348: 1,
         5349: 1,
         5350: 1,
         5351: 1,
         5353: 1,
         5354: 1,
         5355: 1,
         5356: 1,
         5357: 1,
         5358: 1,
         5359: 1,
         5361: 1,
         5362: 1,
         5365: 1,
         5366: 1,
         5369: 1,
         5371: 1,
         5372: 1,
         5373: 1,
         5374: 1,
         5375: 1,
         5377: 1,
         5379: 1,
         5380: 1,
         5382: 1,
         5384: 1,
         5385: 1,
         5386: 1,
         5388: 1,
         5389: 1,
         5390: 1,
         5391: 1,
         5392: 1,
         5393: 1,
         5394: 1,
         5395: 1,
         5396: 1,
         5397: 1,
         5398: 1,
         5399: 1,
         5400: 1,
         5401: 1,
         5402: 1,
         5409: 1,
         5410: 1,
         5411: 1,
         5412: 2,
         5413: 1,
         5414: 1,
         5415: 1,
         5416: 1,
         5418: 1,
         5419: 1,
         5421: 1,
         5423: 1,
         5424: 1,
         5425: 1,
         5427: 1,
         5428: 1,
         5429: 1,
         5430: 1,
         5431: 1,
         5432: 2,
         5433: 1,
         5435: 1,
         5437: 1,
         5438: 1,
         5439: 1,
         5440: 1,
         5441: 1,
         5442: 1,
         5444: 1,
         5445: 1,
         5446: 1,
         5449: 1,
         5450: 1,
         5451: 1,
         5452: 1,
         5453: 1,
         5454: 1,
         5455: 1,
         5456: 1,
         5458: 1,
         5459: 1,
         5461: 1,
         5462: 1,
         5463: 2,
         5465: 1,
         5466: 1,
         5467: 1,
         5468: 1,
         5470: 1,
         5472: 4,
         5473: 1,
         5474: 1,
         5478: 1,
         5479: 1,
         5480: 1,
         5482: 1,
         5483: 1,
         5484: 1,
         5485: 1,
         5486: 1,
         5487: 1,
         5489: 1,
         5490: 1,
         5491: 1,
         5492: 1,
         5493: 1,
         5494: 1,
         5495: 1,
         5496: 1,
         5497: 1,
         5498: 1,
         5499: 1,
         5500: 1,
         5502: 1,
         5505: 2,
         5506: 1,
         5507: 1,
         5508: 1,
         5509: 1,
         5510: 1,
         5514: 1,
         5515: 1,
         5516: 1,
         5517: 1,
         5518: 1,
         5519: 3,
         5520: 1,
         5521: 1,
         5522: 1,
         5524: 1,
         5525: 1,
         5526: 1,
         5527: 1,
         5528: 1,
         5529: 1,
         5530: 1,
         5531: 1,
         5533: 1,
         5534: 1,
         5535: 1,
         5536: 1,
         5538: 1,
         5539: 1,
         5540: 1,
         5542: 1,
         5543: 1,
         5544: 1,
         5545: 1,
         5546: 1,
         5547: 1,
         5549: 1,
         5551: 1,
         5554: 1,
         5556: 1,
         5557: 1,
         5558: 1,
         5561: 1,
         5562: 1,
         5563: 1,
         5564: 1,
         5566: 1,
         5567: 1,
         5568: 1,
         5569: 1,
         5570: 1,
         5571: 1,
         5573: 1,
         5574: 1,
         5575: 1,
         5576: 1,
         5579: 1,
         5580: 1,
         5582: 1,
         5583: 1,
         5584: 1,
         5585: 1,
         5586: 1,
         5587: 1,
         5590: 1,
         5591: 1,
         5592: 1,
         5593: 1,
         5594: 1,
         5595: 1,
         5596: 1,
         5597: 1,
         5598: 1,
         5599: 1,
         5600: 1,
         5601: 1,
         5602: 1,
         5603: 1,
         5604: 1,
         5605: 1,
         5606: 1,
         5607: 1,
         5608: 1,
         5611: 2,
         5616: 1,
         5617: 1,
         5618: 1,
         5619: 1,
         5622: 1,
         5623: 1,
         5624: 1,
         5628: 1,
         5629: 1,
         5631: 1,
         5634: 1,
         5635: 1,
         5636: 1,
         5637: 1,
         5638: 1,
         5640: 1,
         5641: 1,
         5642: 1,
         5644: 1,
         5646: 1,
         5648: 1,
         5649: 1,
         5650: 1,
         5653: 1,
         5654: 1,
         5656: 1,
         5659: 1,
         5660: 1,
         5661: 2,
         5663: 1,
         5664: 1,
         5665: 1,
         5666: 1,
         5667: 1,
         5668: 1,
         5670: 1,
         5671: 1,
         5672: 1,
         5674: 1,
         5675: 1,
         5676: 1,
         5677: 1,
         5678: 1,
         5680: 1,
         5681: 1,
         5682: 1,
         5683: 1,
         5684: 1,
         5686: 1,
         5687: 1,
         5689: 1,
         5691: 1,
         5692: 1,
         5693: 1,
         5694: 1,
         5695: 1,
         5697: 1,
         5698: 1,
         5699: 1,
         5701: 1,
         5702: 1,
         5703: 1,
         5705: 1,
         5707: 1,
         5708: 1,
         5710: 1,
         5711: 2,
         5712: 1,
         5713: 1,
         5714: 1,
         5715: 1,
         5718: 1,
         5719: 1,
         5720: 1,
         5721: 1,
         5722: 1,
         5723: 1,
         5724: 1,
         5725: 1,
         5727: 1,
         5728: 1,
         5729: 1,
         5731: 1,
         5732: 1,
         5736: 1,
         5738: 1,
         5741: 1,
         5742: 1,
         5743: 1,
         5744: 1,
         5745: 1,
         5746: 1,
         5747: 1,
         5748: 1,
         5749: 1,
         5751: 1,
         5752: 1,
         5753: 1,
         5754: 1,
         5757: 1,
         5758: 1,
         5759: 1,
         5760: 1,
         5761: 1,
         5762: 1,
         5763: 1,
         5764: 1,
         5765: 1,
         5766: 1,
         5767: 1,
         5768: 1,
         5769: 1,
         5770: 1,
         5772: 1,
         5773: 1,
         5774: 1,
         5775: 1,
         5776: 1,
         5777: 1,
         5778: 1,
         5779: 1,
         5782: 1,
         5785: 1,
         5786: 1,
         5788: 1,
         5789: 1,
         5792: 1,
         5796: 1,
         5797: 1,
         5798: 1,
         5799: 1,
         5800: 1,
         5801: 1,
         5802: 1,
         5803: 1,
         5804: 1,
         5807: 1,
         5808: 1,
         5809: 1,
         5810: 1,
         5811: 1,
         5812: 1,
         5814: 1,
         5815: 1,
         5816: 1,
         5817: 1,
         5818: 1,
         5819: 1,
         5820: 1,
         5821: 1,
         5822: 1,
         5823: 1,
         5825: 1,
         5826: 1,
         5828: 1,
         5829: 1,
         5830: 1,
         5831: 1,
         5833: 1,
         5834: 1,
         5837: 1,
         5838: 1,
         5839: 1,
         5842: 1,
         5843: 1,
         5844: 1,
         5845: 1,
         5846: 1,
         5851: 2,
         5852: 1,
         5853: 1,
         5854: 1,
         5855: 2,
         5858: 1,
         5859: 1,
         5860: 1,
         5863: 1,
         5864: 1,
         5865: 2,
         5866: 1,
         5867: 1,
         5868: 1,
         5870: 1,
         5871: 1,
         5872: 1,
         5873: 1,
         5874: 1,
         5875: 1,
         5876: 3,
         5877: 1,
         5878: 1,
         5879: 1,
         5882: 1,
         5883: 1,
         5884: 1,
         5885: 1,
         5886: 1,
         5887: 1,
         5888: 1,
         5889: 1,
         5890: 1,
         5892: 1,
         5893: 1,
         5894: 1,
         5896: 1,
         5897: 1,
         5901: 1,
         5902: 1,
         5904: 1,
         5905: 1,
         5906: 1,
         5907: 1,
         5908: 1,
         5909: 1,
         5910: 1,
         5911: 1,
         5912: 1,
         5914: 1,
         5915: 1,
         5916: 2,
         5917: 1,
         5920: 1,
         5921: 1,
         5923: 1,
         5924: 1,
         5926: 1,
         5927: 1,
         5929: 1,
         5930: 1,
         5931: 1,
         5932: 1,
         5933: 1,
         5934: 1,
         5935: 1,
         5937: 1,
         5939: 1,
         5940: 1,
         5941: 1,
         5943: 1,
         5944: 1,
         5945: 1,
         5946: 1,
         5947: 1,
         5949: 1,
         5950: 1,
         5951: 1,
         5952: 1,
         5953: 1,
         5955: 1,
         5956: 1,
         5957: 1,
         5959: 1,
         5960: 1,
         5961: 1,
         5962: 1,
         5963: 1,
         5964: 1,
         5965: 1,
         5966: 1,
         5967: 1,
         5968: 1,
         5969: 1,
         5970: 1,
         5972: 1,
         5973: 1,
         5974: 1,
         5976: 1,
         5977: 1,
         5978: 1,
         5979: 1,
         5980: 1,
         5981: 1,
         5982: 1,
         5983: 1,
         5984: 1,
         5986: 1,
         5988: 1,
         5989: 1,
         5990: 1,
         5991: 1,
         5993: 1,
         5994: 1,
         5995: 1,
         5996: 1,
         5998: 1,
         5999: 1,
         6000: 1,
         6001: 1,
         6002: 1,
         6003: 1,
         6005: 1,
         6007: 1,
         6008: 1,
         6009: 1,
         6010: 1,
         6012: 1,
         6013: 1,
         6014: 1,
         6016: 1,
         6017: 1,
         6019: 1,
         6021: 1,
         6024: 1,
         6025: 1,
         6026: 1,
         6028: 1,
         6029: 1,
         6030: 1,
         6032: 1,
         6033: 1,
         6034: 1,
         6037: 1,
         6038: 1,
         6040: 1,
         6042: 1,
         6043: 1,
         6044: 1,
         6045: 1,
         6046: 1,
         6047: 1,
         6049: 1,
         6050: 1,
         6052: 1,
         6054: 1,
         6056: 1,
         6057: 1,
         6058: 1,
         6059: 1,
         6060: 1,
         6065: 1,
         6066: 1,
         6067: 1,
         6068: 1,
         6069: 1,
         6070: 1,
         6072: 1,
         6073: 1,
         6074: 1,
         6075: 1,
         6076: 1,
         6077: 1,
         6078: 1,
         6079: 1,
         6082: 1,
         6085: 1,
         6086: 1,
         6087: 1,
         6088: 1,
         6090: 2,
         6091: 1,
         6092: 1,
         6093: 1,
         6095: 1,
         6097: 1,
         6098: 1,
         6099: 1,
         6101: 1,
         6102: 1,
         6103: 1,
         6105: 1,
         6106: 1,
         6107: 1,
         6108: 1,
         6109: 1,
         6110: 1,
         6111: 1,
         6113: 1,
         6115: 1,
         6117: 1,
         6118: 1,
         6121: 1,
         6122: 1,
         6123: 1,
         6124: 1,
         6125: 1,
         6126: 1,
         6127: 1,
         6128: 1,
         6129: 1,
         6130: 1,
         6131: 1,
         6132: 1,
         6133: 1,
         6136: 1,
         6137: 1,
         6139: 1,
         6140: 1,
         6141: 1,
         6142: 1,
         6143: 1,
         6144: 1,
         6145: 1,
         6146: 1,
         6147: 1,
         6148: 1,
         6149: 1,
         6150: 1,
         6151: 1,
         6152: 1,
         6156: 1,
         6157: 1,
         6158: 1,
         6159: 1,
         6162: 1,
         6163: 1,
         6166: 1,
         6167: 1,
         6168: 1,
         6170: 1,
         6171: 1,
         6173: 1,
         6174: 1,
         6176: 1,
         6177: 1,
         6178: 1,
         6179: 1,
         6181: 1,
         6182: 1,
         6185: 1,
         6189: 1,
         6190: 1,
         6191: 1,
         6192: 1,
         6193: 1,
         6194: 1,
         6195: 1,
         6198: 1,
         6199: 1,
         6200: 1,
         6201: 1,
         6202: 1,
         6203: 1,
         6204: 1,
         6205: 1,
         6207: 1,
         6208: 1,
         6209: 1,
         6211: 1,
         6212: 1,
         6213: 1,
         6214: 1,
         6215: 1,
         6217: 1,
         6218: 1,
         6219: 1,
         6221: 1,
         6222: 1,
         6223: 2,
         6227: 1,
         6230: 1,
         6231: 1,
         6233: 1,
         6234: 2,
         6235: 1,
         6236: 1,
         6239: 1,
         6241: 1,
         6242: 1,
         6243: 1,
         6245: 1,
         6246: 1,
         6247: 1,
         6249: 1,
         6250: 1,
         6251: 1,
         6252: 1,
         6253: 1,
         6254: 1,
         6255: 1,
         6256: 1,
         6258: 1,
         6259: 1,
         6260: 1,
         6261: 1,
         6262: 1,
         6263: 1,
         6265: 1,
         6266: 1,
         6267: 1,
         6268: 1,
         6269: 1,
         6270: 1,
         6271: 1,
         6272: 1,
         6274: 1,
         6276: 1,
         6277: 1,
         6278: 2,
         6279: 1,
         6280: 1,
         6283: 1,
         6285: 1,
         6286: 1,
         6287: 1,
         6288: 1,
         6289: 1,
         6290: 1,
         6291: 1,
         6292: 1,
         6293: 1,
         6294: 3,
         6295: 1,
         6296: 1,
         6298: 1,
         6299: 1,
         6300: 1,
         6301: 1,
         6302: 1,
         6303: 1,
         6304: 1,
         6306: 1,
         6307: 1,
         6308: 1,
         6309: 1,
         6310: 1,
         6311: 1,
         6312: 1,
         6313: 1,
         6314: 1,
         6315: 1,
         6316: 1,
         6317: 1,
         6318: 1,
         6319: 1,
         6320: 1,
         6321: 1,
         6322: 1,
         6324: 1,
         6325: 1,
         6326: 1,
         6327: 1,
         6328: 1,
         6330: 1,
         6331: 1,
         6332: 1,
         6333: 1,
         6334: 1,
         6335: 1,
         6337: 1,
         6342: 1,
         6343: 1,
         6344: 1,
         ...})

In [104]:
secids = set(sp500_op_ret.secid)
len(
    set(
        mapping_table[mapping_table.secid.apply(lambda x : x in secids)].permno
    )
)

1247

In [107]:
pd.DataFrame(set(
        mapping_table[mapping_table.secid.apply(lambda x : x in secids)].permno
    )).to_csv("permno_list.csv")

In [100]:
mapping_table.permno.unique().size

22368

In [24]:
sp500_const_list.sample(5)

,permno,comnam,ncusip,shrcd,exchcd,hsiccd,ticker,gvkey,iid,start,ending
1217,12570,INTERNATIONAL TEL & TELEG CORP,46047010,11,1,3561,IIN,5860,01,1957-03-01 00:00:00,2011-10-31 00:00:00
1852,22613,PUBLIC SERVICE CO CO,74444810,11,1,4931,PSR,8804,01,1966-12-15 00:00:00,1976-06-30 00:00:00
1001,25902,GENERAL STEEL INDUSTRIES INC,37085610,10,1,3229,GSI,5088,01,1965-01-07 00:00:00,1973-05-30 00:00:00
1964,68049,RYANS FAMILY STEAK HOUSES INC,78351910,11,3,5812,RYAN,9298,01,1989-09-14 00:00:00,1996-12-31 00:00:00
1984,59440,SAFECO CORP,78642910,11,1,6331,SAF,9351,01,1976-07-01 00:00:00,2008-09-22 00:00:00

In [25]:
sp500_const_list.describe()

             permno        shrcd       exchcd       hsiccd          gvkey
count   2501.000000  2501.000000  2501.000000  2501.000000    2501.000000
mean   45047.839664    11.275090     1.316273  4466.340664   24298.312275
std    27185.642550     3.373588     0.939112  1899.850370   44243.266082
min    10006.000000    10.000000    -2.000000     0.000000    1010.000000
25%    20853.000000    11.000000     1.000000  3011.000000    4699.000000
50%    40221.000000    11.000000     1.000000  4011.000000    8325.000000
75%    71175.000000    11.000000     1.000000  6021.000000   13714.000000
max    93436.000000    72.000000    31.000000  9999.000000  316056.000000

## sp500_op_ret
Below are summary statistics (refer to page 15)

### general statistics

In [ ]:
sp500_op_ret.head(5)
# sp500_op_ret.sample(5)

,secid,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,delta,gamma,vega,theta,optionid,cfadj,days_no_trading,days_to_exp,forwardprice,spotprice,adj_spot,ir_rate,mid_price,option_ret
0,5015,1996-01-31 00:00:00,1996-07-20 00:00:00,C,20.0,4.625,5.000,15,25,0.380062,0.793831,0.044693,4.456725,-2.603545,10980421,1,0,171,24.142672,24.000,24.0000,0.052253,4.8125,-0.025367
1,5048,1996-01-31 00:00:00,1996-08-17 00:00:00,P,40.0,3.000,3.375,5,37,0.245716,-0.507195,0.058756,11.186040,-1.508168,11613022,1,0,199,39.344930,39.000,39.0000,0.051780,3.1875,0.002347
2,5049,1996-01-31 00:00:00,1996-05-18 00:00:00,C,65.0,5.875,6.375,4,420,0.167298,0.833206,0.039200,9.020193,-5.515290,11618802,1,0,108,70.168661,70.375,35.1875,0.053274,6.1250,-0.009721
3,5049,1996-01-31 00:00:00,1996-08-17 00:00:00,C,70.0,3.250,3.625,13,3806,0.149214,0.559395,0.050652,19.823520,-4.653782,11770703,1,0,199,70.393348,70.375,35.1875,0.051780,3.4375,0.001186
4,5061,1996-01-31 00:00:00,1996-06-22 00:00:00,C,30.0,3.375,3.750,5,254,0.324523,0.657941,0.056807,7.146084,-3.929316,10914516,1,0,143,32.001209,31.750,31.7500,0.052726,3.5625,-0.006649

In [97]:
sp500_op_ret[
    (sp500_op_ret["secid"] == 5049) & (sp500_op_ret["date"] == "1996-01-31 00:00:00")
]

,secid,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,delta,gamma,vega,theta,optionid,cfadj,days_no_trading,days_to_exp,forwardprice,spotprice,adj_spot,ir_rate,mid_price,option_ret
2,5049,1996-01-31 00:00:00,1996-05-18 00:00:00,C,65.0,5.875,6.375,4,420,0.167298,0.833206,0.039200,9.020193,-5.515290,11618802,1,0,108,70.168661,70.375,35.1875,0.053274,6.1250,-0.009721
3,5049,1996-01-31 00:00:00,1996-08-17 00:00:00,C,70.0,3.250,3.625,13,3806,0.149214,0.559395,0.050652,19.823520,-4.653782,11770703,1,0,199,70.393348,70.375,35.1875,0.051780,3.4375,0.001186
2065,5049,1996-01-31 00:00:00,1997-01-18 00:00:00,C,75.0,2.250,2.625,3,189,0.147161,0.371697,0.036495,25.504480,-3.143041,10637037,1,0,353,71.160224,70.375,35.1875,0.049987,2.4375,-0.000829
2066,5049,1996-01-31 00:00:00,1996-03-16 00:00:00,P,70.0,1.375,1.625,27,27,0.160386,-0.484632,0.107657,9.544870,-4.919761,11022992,1,0,45,70.183981,70.375,35.1875,0.054401,1.5000,-0.026413
2067,5049,1996-01-31 00:00:00,1996-05-18 00:00:00,P,70.0,2.000,2.375,1,67,0.148886,-0.473366,0.069962,14.875140,-1.948550,11185240,1,0,108,70.168661,70.375,35.1875,0.053274,2.1875,-0.009183
2068,5049,1996-01-31 00:00:00,1996-03-16 00:00:00,C,70.0,1.375,1.625,10,31,0.145853,0.526418,0.111908,9.628968,-7.829927,11680701,1,0,45,70.183981,70.375,35.1875,0.054401,1.5000,-0.029019

In [27]:
sp500_op_ret.describe()

,secid,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,delta,gamma,vega,theta,optionid,cfadj,days_no_trading,days_to_exp,forwardprice,spotprice,adj_spot,ir_rate,mid_price,option_ret
count,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825393e+06
mean,1.118091e+05,1.583552e+02,1.048743e+01,1.099611e+01,8.288530e+01,1.758055e+03,3.903697e-01,1.159395e-01,3.800090e-02,2.467463e+01,-1.687396e+01,8.287611e+07,1.053916e+00,2.337976e-03,1.257383e+02,1.615546e+02,1.612870e+02,2.160093e+02,1.801193e-02,1.074177e+01,7.061732e-02
std,1.956878e+04,3.534783e+02,3.874286e+01,3.929525e+01,5.716760e+02,5.857573e+03,2.047089e-01,4.807320e-01,4.315247e-02,6.098045e+01,4.313121e+01,4.649504e+07,5.263510e-01,5.339109e-02,8.291730e+01,3.528938e+02,3.521467e+02,4.140947e+03,1.915548e-02,3.901709e+01,4.627202e+01
min,5.015000e+03,5.000000e-01,1.000000e-02,7.000000e-02,1.000000e+00,1.000000e+00,1.114700e-02,-9.996790e-01,0.000000e+00,4.900000e-04,-1.061745e+03,1.000001e+07,1.000000e+00,0.000000e+00,2.800000e+01,5.000000e-05,1.500000e-01,1.171875e-01,8.914000e-04,4.000000e-02,-1.601024e+04
25%,1.034340e+05,3.700000e+01,1.150000e+00,1.350000e+00,3.000000e+00,6.800000e+01,2.594700e-01,-2.718040e-01,1.047900e-02,5.147422e+00,-1.307261e+01,3.264821e+07,1.000000e+00,0.000000e+00,5.000000e+01,3.757191e+01,3.754000e+01,3.197000e+01,2.672931e-03,1.250000e+00,-3.809121e-02
50%,1.073980e+05,6.500000e+01,2.900000e+00,3.200000e+00,1.100000e+01,3.160000e+02,3.396460e-01,1.604910e-01,2.637400e-02,9.966705e+00,-6.169045e+00,1.033082e+08,1.000000e+00,0.000000e+00,1.090000e+02,6.498800e+01,6.486000e+01,5.673000e+01,1.074308e-02,3.050000e+00,-1.026760e-02
75%,1.116520e+05,1.290000e+02,7.400000e+00,7.900000e+00,4.000000e+01,1.264000e+03,4.580080e-01,5.068830e-01,5.078000e-02,2.019212e+01,-3.281715e+00,1.240800e+08,1.000000e+00,0.000000e+00,1.730000e+02,1.312548e+02,1.311500e+02,1.174850e+02,2.571517e-02,7.650000e+00,1.373601e-02
max,2.149050e+05,5.500000e+03,2.692950e+03,2.707550e+03,2.561690e+05,7.795400e+05,2.998749e+00,1.000030e+00,2.643942e+00,1.354885e+03,1.771834e+01,1.439230e+08,5.000000e+01,2.000000e+00,3.590000e+02,3.516114e+03,3.507070e+03,4.390544e+05,7.199510e-02,2.700250e+03,7.425289e+04

### number of put/call

In [33]:
num_call = sum(sp500_op_ret["cp_flag"] == "C")
num_put =  sum(sp500_op_ret["cp_flag"] == "P")
print(f"number of calls: {num_call}, comprising {round(num_call/(num_call + num_put) * 100)}% options")

number of calls: 2179336, comprising 57% options

### Moneyness

In [34]:
moneyness = sp500_op_ret["strike_price"] / sp500_op_ret["spotprice"]

In [60]:
sp500_op_ret["moneyness"] = moneyness

In [72]:
itm = sp500_op_ret[
    (
        (sp500_op_ret["moneyness"] > 1.1) & (sp500_op_ret["cp_flag"] == "P")
    )
    | 
    (
        (sp500_op_ret["moneyness"] < 0.9) & (sp500_op_ret["cp_flag"] == "C")
    )
]

In [73]:
otm = sp500_op_ret[
    (
        (sp500_op_ret["moneyness"] < 0.9) & (sp500_op_ret["cp_flag"] == "P")
    )
    | 
    (
        (sp500_op_ret["moneyness"] > 1.1) & (sp500_op_ret["cp_flag"] == "C")
    )
]

In [74]:
atm = sp500_op_ret[
        (sp500_op_ret["moneyness"] >= 0.9) & (sp500_op_ret["moneyness"] <= 1.1)
]

In [84]:
ioatm = [itm, otm, atm]
[round(i.shape[0] / sp500_op_ret.shape[0], 2) for i in ioatm]

[0.14, 0.33, 0.52]

In [80]:
sp500_op_ret.shape

(3825531, 25)

### average IV

In [15]:
sp500_op_ret["impl_volatility"].mean()

0.3903697014422311

### days to maturity

In [49]:
days2maturity = (    
    sp500_op_ret["exdate"].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
  - sp500_op_ret["date"].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
)

In [45]:
days2maturity.describe()

count                        3825531
mean     125 days 17:43:05.652344728
std       82 days 22:00:54.621799602
min                 28 days 00:00:00
25%                 50 days 00:00:00
50%                109 days 00:00:00
75%                173 days 00:00:00
max                359 days 00:00:00
dtype: object

In [46]:
days2maturity[0]

Timedelta('171 days 00:00:00')

In [52]:
datetime.timedelta(900) - days2maturity[0]

Timedelta('729 days 00:00:00')

In [55]:
short_term_options = sum(days2maturity <= datetime.timedelta(90))
long_term_options = sum(days2maturity > datetime.timedelta(90))

In [56]:
short_term_options, long_term_options

(1764052, 2061479)

In [59]:
f"number of short_term_options {short_term_options} and its proportion {round(short_term_options / (short_term_options + long_term_options) * 100)}%"

'number of short_term_options 1764052 and its proportion 46%'

In [18]:
days2maturity.median()

Timedelta('109 days 00:00:00')

## Prediction

### just use very basic features --- almost no predictive power

In [12]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [43]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [54]:
from sklearn import linear_model

In [45]:
subsample = sp500_op_ret

In [46]:
subsample = subsample.dropna()

In [82]:
X = subsample[
    ["impl_volatility", "delta", "gamma", "vega", "theta"]
]

y = subsample['option_ret']

X_train, X_test, y_train, y_test = train_test_split(
    X, y
)

# regressor = LinearRegression()
regressor = linear_model.Lasso(alpha=0.1)
regressor.fit(X_train, y_train)

Lasso(alpha=0.1)

In [83]:
y_pred = regressor.predict(X_test)
mean_squared_error(y_test, y_pred)

1486.3248747034686

In [84]:
r2_score(y_test, y_pred)

-2.0995210787688734e-06

In [85]:
sp500_op_ret.shape

(3825531, 24)