Hi everyone,

Attached you have a dropbox link with the option data. A few things to note:
- You only have end of month date
- Option returns are delta hedged ONLY ONCE not on a daily basis. I went for this approach as it was easier to code so you will have the data faster.
- Only options which have prices at the next end of month are considered, again I did this because it was faster to code but it will probably not inhibit your results too much. 
- I have pre cleaned the option data for you. See for example Goyal (2009) for more details

For now the data seems super small (700mb) so I send you the whole data.

Best,
Patrick

In [1]:
# enable auto complete
%config Completer.use_jedi = False

In [2]:
import pandas as pd

In [48]:
import datetime

In [5]:
pd.set_option('display.max_columns', 100)

# Data Exploration

In [6]:
sp500_op_ret = pd.read_csv("data/sp500_op_ret.csv")

In [8]:
mapping_table = pd.read_csv("data/mapping_table.csv")

In [20]:
sp500_const_list = pd.read_csv("data/sp500_const_list.csv")

### mapping_table and sp500_const_list

In [21]:
# PERMNO is a unique stock (share class) level 
# identifier used by WRDS
mapping_table.sample(5)

        secid                sdate                edate  permno
28110  214938  2020-11-16 00:00:00  2020-12-31 00:00:00   20123
6823   104440  1996-01-01 00:00:00  2002-04-26 00:00:00   79827
9440   107626  1996-01-01 00:00:00  2008-03-17 00:00:00   81719
5359   102688  1997-02-03 00:00:00  2020-12-31 00:00:00   84516
25152  210772  2017-01-17 00:00:00  2020-12-31 00:00:00   16538

In [24]:
sp500_const_list.sample(5)

,permno,comnam,ncusip,shrcd,exchcd,hsiccd,ticker,gvkey,iid,start,ending
1217,12570,INTERNATIONAL TEL & TELEG CORP,46047010,11,1,3561,IIN,5860,01,1957-03-01 00:00:00,2011-10-31 00:00:00
1852,22613,PUBLIC SERVICE CO CO,74444810,11,1,4931,PSR,8804,01,1966-12-15 00:00:00,1976-06-30 00:00:00
1001,25902,GENERAL STEEL INDUSTRIES INC,37085610,10,1,3229,GSI,5088,01,1965-01-07 00:00:00,1973-05-30 00:00:00
1964,68049,RYANS FAMILY STEAK HOUSES INC,78351910,11,3,5812,RYAN,9298,01,1989-09-14 00:00:00,1996-12-31 00:00:00
1984,59440,SAFECO CORP,78642910,11,1,6331,SAF,9351,01,1976-07-01 00:00:00,2008-09-22 00:00:00

In [25]:
sp500_const_list.describe()

             permno        shrcd       exchcd       hsiccd          gvkey
count   2501.000000  2501.000000  2501.000000  2501.000000    2501.000000
mean   45047.839664    11.275090     1.316273  4466.340664   24298.312275
std    27185.642550     3.373588     0.939112  1899.850370   44243.266082
min    10006.000000    10.000000    -2.000000     0.000000    1010.000000
25%    20853.000000    11.000000     1.000000  3011.000000    4699.000000
50%    40221.000000    11.000000     1.000000  4011.000000    8325.000000
75%    71175.000000    11.000000     1.000000  6021.000000   13714.000000
max    93436.000000    72.000000    31.000000  9999.000000  316056.000000

## sp500_op_re

### general statistics

In [ ]:
sp500_op_ret.head(5)
# sp500_op_ret.sample(5)

,secid,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,delta,gamma,vega,theta,optionid,cfadj,days_no_trading,days_to_exp,forwardprice,spotprice,adj_spot,ir_rate,mid_price,option_ret
0,5015,1996-01-31 00:00:00,1996-07-20 00:00:00,C,20.0,4.625,5.000,15,25,0.380062,0.793831,0.044693,4.456725,-2.603545,10980421,1,0,171,24.142672,24.000,24.0000,0.052253,4.8125,-0.025367
1,5048,1996-01-31 00:00:00,1996-08-17 00:00:00,P,40.0,3.000,3.375,5,37,0.245716,-0.507195,0.058756,11.186040,-1.508168,11613022,1,0,199,39.344930,39.000,39.0000,0.051780,3.1875,0.002347
2,5049,1996-01-31 00:00:00,1996-05-18 00:00:00,C,65.0,5.875,6.375,4,420,0.167298,0.833206,0.039200,9.020193,-5.515290,11618802,1,0,108,70.168661,70.375,35.1875,0.053274,6.1250,-0.009721
3,5049,1996-01-31 00:00:00,1996-08-17 00:00:00,C,70.0,3.250,3.625,13,3806,0.149214,0.559395,0.050652,19.823520,-4.653782,11770703,1,0,199,70.393348,70.375,35.1875,0.051780,3.4375,0.001186
4,5061,1996-01-31 00:00:00,1996-06-22 00:00:00,C,30.0,3.375,3.750,5,254,0.324523,0.657941,0.056807,7.146084,-3.929316,10914516,1,0,143,32.001209,31.750,31.7500,0.052726,3.5625,-0.006649

In [29]:
sp500_op_ret[sp500_op_ret["secid"] == 5015]

,secid,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,delta,gamma,vega,theta,optionid,cfadj,days_no_trading,days_to_exp,forwardprice,spotprice,adj_spot,ir_rate,mid_price,option_ret
0,5015,1996-01-31 00:00:00,1996-07-20 00:00:00,C,20.0,4.6250,5.0000,15,25,0.380062,0.793831,0.044693,4.456725,-2.603545,10980421,1,0,171,24.142672,24.0000,24.0000,0.052253,4.81250,-0.025367
2056,5015,1996-01-31 00:00:00,1996-07-20 00:00:00,C,25.0,1.4375,1.6250,16,403,0.294709,0.462826,0.081279,6.401439,-2.533654,10385280,1,0,171,24.142672,24.0000,24.0000,0.052253,1.53125,-0.003343
2057,5015,1996-01-31 00:00:00,1996-07-20 00:00:00,C,27.5,0.9375,1.1875,1,55,0.343211,0.324547,0.063405,5.831637,-2.502579,10440757,1,0,171,24.142672,24.0000,24.0000,0.052253,1.06250,-0.049677
2058,5015,1996-01-31 00:00:00,1996-04-20 00:00:00,P,25.0,1.8125,2.0625,10,49,0.307167,-0.591168,0.120232,4.230949,-2.400755,10752997,1,0,80,24.058134,24.0000,24.0000,0.053710,1.93750,-0.012452
2059,5015,1996-01-31 00:00:00,1996-04-20 00:00:00,P,22.5,0.5000,0.6875,1,11,0.281269,-0.285548,0.109995,3.762847,-2.106080,11214327,1,0,80,24.058134,24.0000,24.0000,0.053710,0.59375,-0.032655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125025,5015,1998-08-31 00:00:00,1998-10-17 00:00:00,P,70.0,16.3750,17.1250,5,27,0.488334,-0.955113,0.018052,1.758049,-2.281639,10680923,1,0,47,53.694744,53.3125,53.3125,0.056677,16.75000,-0.004018
128370,5015,1998-08-31 00:00:00,1998-10-17 00:00:00,C,65.0,0.1875,0.3750,10,24,0.380630,0.089080,0.022379,3.052608,-4.860815,10854638,1,0,47,53.694744,53.3125,53.3125,0.056677,0.28125,-0.034976
128371,5015,1998-08-31 00:00:00,1998-10-17 00:00:00,P,50.0,1.0625,1.3125,5,5,0.358557,-0.269548,0.049189,6.241654,-8.105021,11771219,1,0,47,53.694744,53.3125,53.3125,0.056677,1.18750,-0.009943
131764,5015,1998-09-30 00:00:00,1998-11-21 00:00:00,P,65.0,10.2500,10.7500,5,3,0.488017,-0.777461,0.030070,6.092736,-8.147707,11504558,1,0,52,55.696458,55.5000,55.5000,0.053692,10.50000,-0.559739
134500,5015,1998-09-30 00:00:00,1999-01-16 00:00:00,C,85.0,0.3750,0.5625,50,105,0.493440,0.077637,0.009795,4.358893,-3.875083,10333170,1,0,108,56.138603,55.5000,55.5000,0.052557,0.46875,0.733211

In [27]:
sp500_op_ret.describe()

,secid,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,delta,gamma,vega,theta,optionid,cfadj,days_no_trading,days_to_exp,forwardprice,spotprice,adj_spot,ir_rate,mid_price,option_ret
count,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825393e+06
mean,1.118091e+05,1.583552e+02,1.048743e+01,1.099611e+01,8.288530e+01,1.758055e+03,3.903697e-01,1.159395e-01,3.800090e-02,2.467463e+01,-1.687396e+01,8.287611e+07,1.053916e+00,2.337976e-03,1.257383e+02,1.615546e+02,1.612870e+02,2.160093e+02,1.801193e-02,1.074177e+01,7.061732e-02
std,1.956878e+04,3.534783e+02,3.874286e+01,3.929525e+01,5.716760e+02,5.857573e+03,2.047089e-01,4.807320e-01,4.315247e-02,6.098045e+01,4.313121e+01,4.649504e+07,5.263510e-01,5.339109e-02,8.291730e+01,3.528938e+02,3.521467e+02,4.140947e+03,1.915548e-02,3.901709e+01,4.627202e+01
min,5.015000e+03,5.000000e-01,1.000000e-02,7.000000e-02,1.000000e+00,1.000000e+00,1.114700e-02,-9.996790e-01,0.000000e+00,4.900000e-04,-1.061745e+03,1.000001e+07,1.000000e+00,0.000000e+00,2.800000e+01,5.000000e-05,1.500000e-01,1.171875e-01,8.914000e-04,4.000000e-02,-1.601024e+04
25%,1.034340e+05,3.700000e+01,1.150000e+00,1.350000e+00,3.000000e+00,6.800000e+01,2.594700e-01,-2.718040e-01,1.047900e-02,5.147422e+00,-1.307261e+01,3.264821e+07,1.000000e+00,0.000000e+00,5.000000e+01,3.757191e+01,3.754000e+01,3.197000e+01,2.672931e-03,1.250000e+00,-3.809121e-02
50%,1.073980e+05,6.500000e+01,2.900000e+00,3.200000e+00,1.100000e+01,3.160000e+02,3.396460e-01,1.604910e-01,2.637400e-02,9.966705e+00,-6.169045e+00,1.033082e+08,1.000000e+00,0.000000e+00,1.090000e+02,6.498800e+01,6.486000e+01,5.673000e+01,1.074308e-02,3.050000e+00,-1.026760e-02
75%,1.116520e+05,1.290000e+02,7.400000e+00,7.900000e+00,4.000000e+01,1.264000e+03,4.580080e-01,5.068830e-01,5.078000e-02,2.019212e+01,-3.281715e+00,1.240800e+08,1.000000e+00,0.000000e+00,1.730000e+02,1.312548e+02,1.311500e+02,1.174850e+02,2.571517e-02,7.650000e+00,1.373601e-02
max,2.149050e+05,5.500000e+03,2.692950e+03,2.707550e+03,2.561690e+05,7.795400e+05,2.998749e+00,1.000030e+00,2.643942e+00,1.354885e+03,1.771834e+01,1.439230e+08,5.000000e+01,2.000000e+00,3.590000e+02,3.516114e+03,3.507070e+03,4.390544e+05,7.199510e-02,2.700250e+03,7.425289e+04

Below are summary statistics (refer to page 15)

### number of put/call

In [33]:
num_call = sum(sp500_op_ret["cp_flag"] == "C")
num_put =  sum(sp500_op_ret["cp_flag"] == "P")
print(f"number of calls: {num_call}, comprising {round(num_call/(num_call + num_put) * 100)}% options")

number of calls: 2179336, comprising 57% options

### Moneyness

In [34]:
moneyness = sp500_op_ret["strike_price"] / sp500_op_ret["spotprice"]

In [60]:
sp500_op_ret["moneyness"] = moneyness

In [72]:
itm = sp500_op_ret[
    (
        (sp500_op_ret["moneyness"] > 1.1) & (sp500_op_ret["cp_flag"] == "P")
    )
    | 
    (
        (sp500_op_ret["moneyness"] < 0.9) & (sp500_op_ret["cp_flag"] == "C")
    )
]

In [73]:
otm = sp500_op_ret[
    (
        (sp500_op_ret["moneyness"] < 0.9) & (sp500_op_ret["cp_flag"] == "P")
    )
    | 
    (
        (sp500_op_ret["moneyness"] > 1.1) & (sp500_op_ret["cp_flag"] == "C")
    )
]

In [74]:
atm = sp500_op_ret[
        (sp500_op_ret["moneyness"] >= 0.9) & (sp500_op_ret["moneyness"] <= 1.1)
]

In [84]:
ioatm = [itm, otm, atm]
[round(i.shape[0] / sp500_op_ret.shape[0], 2) for i in ioatm]

[0.14, 0.33, 0.52]

In [80]:
sp500_op_ret.shape

(3825531, 25)

### average IV

In [15]:
sp500_op_ret["impl_volatility"].mean()

0.3903697014422311

### days to maturity

In [49]:
days2maturity = (    
    sp500_op_ret["exdate"].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
  - sp500_op_ret["date"].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
)

In [45]:
days2maturity.describe()

count                        3825531
mean     125 days 17:43:05.652344728
std       82 days 22:00:54.621799602
min                 28 days 00:00:00
25%                 50 days 00:00:00
50%                109 days 00:00:00
75%                173 days 00:00:00
max                359 days 00:00:00
dtype: object

In [46]:
days2maturity[0]

Timedelta('171 days 00:00:00')

In [52]:
datetime.timedelta(900) - days2maturity[0]

Timedelta('729 days 00:00:00')

In [55]:
short_term_options = sum(days2maturity <= datetime.timedelta(90))
long_term_options = sum(days2maturity > datetime.timedelta(90))

In [56]:
short_term_options, long_term_options

(1764052, 2061479)

In [59]:
f"number of short_term_options {short_term_options} and its proportion {round(short_term_options / (short_term_options + long_term_options) * 100)}%"

'number of short_term_options 1764052 and its proportion 46%'

In [18]:
days2maturity.median()

Timedelta('109 days 00:00:00')

In [19]:
datetime.strptime(sp500_op_ret["date"][0], '%Y-%m-%d %H:%M:%S') - datetime.strptime(sp500_op_ret["date"][100000], '%Y-%m-%d %H:%M:%S')

datetime.timedelta(-790)

In [39]:
sp500_op_ret["date"][100000]

'1998-03-31 00:00:00'